<div class="Aligner">
 
 <div class="Aligner-item">
  	
<div class="center">

<h1>This is the API section of the site</h1>

<p>Digimon API</p>

<p><a href="/api/v1/digimons.json"> Digimon Get Request </a></p>
<p><a href="/api/v1/evolutions.json"> Evolution Get Request </a></p>

</div>

<%= react_component ('main') %>
<%= react_component("HelloWorld", { greeting: "Hello" }) %>


</div>

</div>




<!-- <p>Please Log in.</p>
<a href="users/sign_in"> Link </a>

<%= form_for(:user, :url => session_path(:user)) do |f| %>
  <%= f.text_field :email %>
  <%= f.password_field :password %>
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>
  <%= f.submit 'Sign in' %>
  <%= link_to "Forgot your password?", new_password_path(:user) %>
<% end %>

 -->
<!-- 
//Show List of Digimans here -->


